extends layout
block content
    html
        head
            title Political Conference Amendments Platform
            link(rel="icon" href="/favicon.ico" type="image/x-icon")
        body
            header
                img(src="/path/to/dsf-logo.png" alt="DSF Logo" style="width: 200px;")
                h1 Political Conference at CBS
                p Welcome to the DSF Political Conference platform. This is where you can submit and manage amendments for the conference discussions.

            //- Link to login page
            a.button(href="/user/login") Login to Submit an Amendment
