doctype html
html
    head
        title My App
        link(rel="stylesheet" href="/stylesheets/style.css")
    body
        // Image containers for left and right background images
        div.image-container-left
        div.image-container-right

        // Role-based buttons
        if user
            div.user-info-container
                span.user-name Welcome, #{user.name}
                a.logout-button(href="/user/logout") Logout

            if user.role === 'admin'
                div.admin-panel-button-container
                    button.admin-panel-button(onclick="window.location.href='/admin'") Admin Panel

        block content