doctype html
html
    head
        title My App
        link(rel="stylesheet" href="/stylesheets/style.css")
    body
        // Role-based buttons
        if role === 'admin'
            div.admin-panel-button-container
                button.admin-panel-button(onclick="window.location.href='/admin'") Admin Panel

        block content
