extends layout

block content
    h1 Welcome to the amendment home page
    p Please select the paper you would like to work on:

    div.container.paperCenter
        each paper in papers
            a(href="/amendment/" + paper.name)
                button.large(type="button" class=paper.name === selectedPaper ? 'active' : '') #{paper.name}
