extends layout
block content
    head
        title Register
    body
        h1 Register
        form(action="/user/register" method="POST")
            div
                label(for="username") Username:
                input(type="text" name="username" required)
            div
                label(for="password") Password:
                input(type="password" name="password" required)
            button(type="submit") Register
        if errors
            ul
                each error in errors
                    li= error.msg
