/* Define color and font variables */
:root {
    --primary-color: #96cae5;
    --secondary-color: #fece43;
    --danger-color: #FF4C4C;
    --danger-hover-color: #E63946;
    --background-color: #f4f4f9;
    --text-color: #333;
    --highlight-color: #81C6E1;
    --font-family: Arial, sans-serif;
}

/* General body and headings */
body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
}

/* Table Styling */
table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

table th, table td {
    padding: 15px;
    text-align: left;
}

table th {
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

td.actions {
    text-align: center;
    vertical-align: middle;
}

/* Default Form Styling */
form {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.form-inline {
    display: inline-flex;
    align-items: center;
}

.form-edit-row {
    display: contents;
}

form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form input[type="number"],
form input[type="email"],
form select,
form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Adjusted Button Styling */
form button,
.button-edit,
.button-save,
.button-delete {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

form button:hover,
.button-edit:hover,
.button-save:hover {
    background-color: var(--secondary-color);
}

.button-delete {
    background-color: var(--danger-color);
}

.button-delete:hover {
    background-color: var(--danger-hover-color);
    transform: scale(1.05);
}

/* Admin Panel Button Positioning */
.admin-panel-button-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.admin-panel-button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.admin-panel-button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

button.active {
    background-color: white;
    color: var(--primary-color);
}

.large {
    font-size: large;
}

.paper {
    position: fixed;
    display: flex;
    top: 35%;
    left: 5%;
    width: min-content;
    justify-content: space-around;
    flex-wrap: wrap
}

.paperCenter {
    position: center;
    display: flex;
    top: 35%;
    left: 5%;
    width: min-content;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Utility Classes for Links and Errors */
p {
    margin-top: 15px;
    text-align: center;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

ul {
    color: var(--danger-color);
    margin-top: 10px;
}

ul li {
    margin-bottom: 5px;
}

/* User Information Styling */
.user-info-container {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-name {
    color: var(--text-color);
    font-weight: bold;
}

.logout-button {
    background-color: var(--primary-color);
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: var(--secondary-color);
}

/* Custom styles for Select2 */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--secondary-color) !important;
    border: 1px solid var(--secondary-color) !important;
    color: white !important;
    padding: 2px 7px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: white !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--secondary-color) !important;
    color: white !important;
}

.select2-container--default .select2-results__option {
    color: black !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice[aria-selected="true"] {
    background-color: var(--secondary-color) !important;
    color: white !important;
    padding: 5px 10px !important;
}

/* Fullscreen overlay to lock interaction */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.modal {
    position: relative;
    top: 10%;
    width: auto;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
    z-index: 1001;
    position: relative;
}

/* Error title styling */
.modal-title {
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--highlight-color);
    font-weight: bold;
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.modal-buttons button,
.modal-buttons a button {
    padding: 8px 20px;
    background-color: var(--highlight-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.modal-buttons button:hover,
.modal-buttons a button:hover {
    background-color: #70acc4;
}

/* Close "X" button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.close-button:hover {
    color: #000;
}

